.about {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
  height: 100vh;
}

li a,
p a,
p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
}

.about_text {
  text-align: start;
}
