.search {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
  height: 100vh;
}

.title {
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.text {
  font-size: 1.4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}

.inputLabel {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  /* margin-bottom: 1rem; */
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  /* transition: background-color 250ms; */
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.card_list_container {
  height: 80vh;
  overflow-y: scroll;
  margin-top: 1rem;
}
/* Mobile view  */
.card_list {
  column-count: 1;
}

/* Tablet view  */
@media screen and (min-width: 800px) {
  .card_list {
    column-count: 2;
  }
}

/* Desktop view  */
@media screen and (min-width: 1024px) {
  .card_list {
    column-count: 3;
  }
}

.card {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

.card_image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

.image_creator_profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.image_actions_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.favourite_button {
  position: relative;
  right: 10px;
}

.download_button {
  justify-content: flex-end;
  margin-left: auto;
  position: relative;
  right: 5px;
}
